<nav class="nav">
  <a class="nav-link" routerLink="module_progbasics" routerLinkActive="active"
    >Progbasics Workbook</a
  >
  <a
    class="nav-link"
    routerLink="tech-interview-work-book-web"
    routerLinkActive="active"
    >Web Workbook</a
  >
  <a
    class="nav-link"
    routerLink="module_oop_basics_java"
    routerLinkActive="active"
    >OOP Workbook</a
  >
  <a
    class="nav-link"
    routerLink="module_advanced_enterprise_java"
    routerLinkActive="active"
    >Advanced Enterprise Java Workbook</a
  >
  <a
    class="nav-link"
    routerLink="module_advanced_enterprise_general"
    routerLinkActive="active"
    >Advanced Enterprise General Workbook</a
  >
  <a class="nav-link" routerLink="module_angular" routerLinkActive="active"
    >Angular Workbook</a
  >
  <a class="nav-link" routerLink="module_typescript" routerLinkActive="active"
    >TypeScript Workbook</a
  >
</nav>
<div>
  <router-outlet></router-outlet>
</div>
